#mainDiv{
    border:1px solid black;
    width: 50vw;
    height: 11vh;
    margin:auto;

    position: flex;
    top:0;
    bottom:150px;
    left:0;
    right:0;

    align-items: center;
    justify-content: center;
    
    text-align: center;
    vertical-align: middle;
}
#header{
    text-align: center;
}
.inDiv{
    display:inline-flex;
    font-size: 20px;
}
#startBtn{
    width:200px;
    height: 50px;

    display:block;
    margin:auto;
    position: absolute;
    top:0;
    left:0;
    bottom:20vh;
    right: 0;
    border-radius: 5px;
    font-size: 20px;
}
#nCount{
    height:30px;
    width:200px;
    display:block;
    margin:auto;
    position: absolute;
    top:0;
    left:0;
    bottom:35vh;
    right: 0;
    border-radius: 5px;

    text-align: center;
    font-size: 14px;
}
#answer{
    width:50px;
}
#answerBox{
    border:1px solid black;

    width:25vw;
    height: 50vh;

    margin:auto;
    position: absolute;
    top:40vh;
    left:0;
    bottom:0;
    right: 0;

    font-size:20px;
}
#goBackBtn{
    position: absolute;
    width:200px;
    height: 50px;
    border-radius: 5px;
}
#parameters{
    border:1px solid black;
    display: block;
    margin: 0 auto;

    width:17vw;
    height: 16vh;
    position: absolute;
    top:15vh;
    bottom:20vh;
    left:0;
    right:80vw;

    font-size: 20px;
}